
@{
    var total = 0;
    var totalMessage = "";
    if(IsPost)
    {
        var num1 = Request["text1"];
        var num2 = Request["text2"];

        total = num1.AsInt() + num2.AsInt();
        totalMessage = "Total = " + total;
    }
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Numbers</title>
    <meta charset="utf-8" />
    <style type="text/css">
        body{
            background-color: beige;
            font-family: Verdana, Arial;
            margin: 50px;
        }
        form{
            padding: 10px;
            border-style: solid;
            width: 250px;
        }
    </style>
</head>
<body>
    <p>Enter two whole numbers and then click <strong>Add</strong>.</p>
    <form action="" method="post">
        <p>
            <label for="text1">First Number:</label>
            <input type="text" name="text1" />
        </p>
        <p>
            <label for="text2">Second Number:</label>
            <input type="text" name="text2" />
        </p>
        <p>
            <input type="submit" value="Add" />
        </p>

    </form>

    <p>@totalMessage</p>

    <ul>
        @foreach (var myItem in Request.ServerVariables)
        {
            <li>@myItem</li>
        }
    </ul>

    @{
        var countNum = 0;
        while (countNum < 50)
        {
            countNum += 1;
            <p>Line #@countNum: </p>
        }
    }

    @*    @{
            <h3>Team Members</h3>
            string[] teamMembers = { "Matt", "Joanne", "Robert", "Nancy" };
            foreach (var person in teamMembers)
            {
                <p>@person</p>
            }
        }*@

    @{
        string[] teamMembers = { "Matt", "Joanne", "Robert", "Nancy" };
        <p>The number of names in the teamMembers array: @teamMembers.Length </p>
        <p>Robert is now in position: @Array.IndexOf(teamMembers, "Robert")</p>
        <p>The array item at position 2 (zero-based) is @teamMembers[2]</p>
        <h3>Current order of team members in the list</h3>
        foreach (var name in teamMembers)
        {
            <p> @name </p>
        }
        <h3> Reversed order of team members in the list</h3>
        Array.Reverse(teamMembers);
        foreach (var reversedItem in teamMembers)
        {
            <p>@reversedItem</p>
        }
    }

    @{
        var myScores = new Dictionary<string, int>();
        myScores.Add("test1", 71);
        myScores.Add("test2", 82);
        myScores.Add("test3", 100);
        myScores.Add("test4", 59);
    }
    <p>My score on test 3 is: @myScores["test3"]%</p>
    @{myScores["test4"] = 79;}
    <p>My corrected score on test 4 is: @myScores["test4"]%</p>

    @{
        ViewBag.Title = "Index";
    }
    <h2>Try catch demo</h2>
    @{
        var dataFilePath = "~/dataFile.txt";
        var fileContents = "";
        var physicalPath = Server.MapPath(dataFilePath);
        var userMessage = "Hello world, the time is " + DateTime.Now;
        var userErrMsg = "";
        var errMsg = "";
        if (IsPost)
        {
            //Khi người dùng click vào "Open File", sẽ mở file và đọc.
            try
            {
                //xuất hiện lỗi đầu tiên vì file bên dưới không tồn tại, sau đó chú thích lại lệnh này
            fileContents = File.ReadAllText(@"c:\batafile.txt");
                //tắt dòng trên đi và chạy lại
                fileContents = File.ReadAllText(physicalPath);
            }
            catch (FileNotFoundException ex)
            {
                errMsg = ex.Message;
                userErrMsg = "A file could not be opened, please contact your system administrator.";
            }
            catch (DirectoryNotFoundException ex)
            {
                errMsg = ex.Message;
                userErrMsg = "A directory was not found, please contact your system administrator.";
            }
        }
        else
        {
            //Lần đầu tiên chạy trang (get), tạo ra file text.
            File.WriteAllText(physicalPath, userMessage);
        }
    }
    <form method="post" action="">
        <input type="submit" name="submit" value="Open File" />
    </form>
    <p> </p>
    <p>@physicalPath</p>
    <p> </p>
    <p>@fileContents</p>
    <p> </p>
    <p>@userErrMsg</p>

</body>
</html>
